services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse-server
    ports:
      - "9000:9000"
      - "8123:8123"
    environment:
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: MyPassword2025
      CLICKHOUSE_DB: default
    volumes:
      - clickhouse_data:/var/lib/clickhouse
  postgres:
    image: postgres:18-alpine
    container_name: postgres-server
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: authdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  clickhouse_data:
    driver: local
  postgres_data:
    driver: local
